<a href="https://colab.research.google.com/github/YMGYM/google_colab_files/blob/master/air_pollution_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Load Data

First, I used the data about air_polution data from 
Ministry of Environment

In [ ]:
import pandas as pd
import json
import tensorflow as tf
import tensorflow.keras as K
import numpy as np

I got the tip from how to read the file with utf-8 encoding from [here](https://teddylee777.github.io/pandas/%EA%B3%B5%EA%B3%B5%EB%8D%B0%EC%9D%B4%ED%84%B0-%ED%95%9C%EA%B8%80%EA%B9%A8%EC%A7%90%ED%98%84%EC%83%81-%ED%95%B4%EA%B2%B0%EB%B0%A9%EB%B2%95)

In [ ]:
def read_data():
  data = pd.read_csv("/content/drive/My Drive/Datasets/air_2019.csv", encoding='utf-8')
  return data

In [ ]:
data = read_data()

In [ ]:
data

          측정일자  권역코드  권역명  ...  일산화탄소농도(ppm) 아황산가스농도(ppm)  초미세먼지(㎍/㎥)
0     20191231   100  도심권  ...         0.012          0.4       0.002
1     20191231   100  도심권  ...         0.015          0.4       0.003
2     20191231   100  도심권  ...         0.015          0.4       0.003
3     20191231   101  서북권  ...         0.010          0.4       0.003
4     20191231   101  서북권  ...         0.013          0.5       0.002
...        ...   ...  ...  ...           ...          ...         ...
8891  20190101   103  서남권  ...         0.033          0.6       0.002
8892  20190101   104  동남권  ...         0.028          0.6       0.005
8893  20190101   104  동남권  ...         0.032          0.4       0.004
8894  20190101   104  동남권  ...         0.042          0.8       0.004
8895  20190101   104  동남권  ...         0.040          0.8       0.005

[8896 rows x 11 columns]

Filtering data

In [ ]:
location = data['측정소명'] == "중구"

dust_location = data[location]
new_list = pd.DataFrame(dust_location['미세먼지(㎍/㎥)'])
new_list

      미세먼지(㎍/㎥)
0            26
25           36
50           46
75           43
100          34
...         ...
8771         63
8796         55
8821         35
8846         31
8871         38

[356 rows x 1 columns]

In [ ]:
def read_dust_data():
  data = pd.read_excel("/content/drive/My Drive/Datasets/APIS/APIS_data.xlsx", encoding='utf-8')
  return data

In [ ]:
data = read_dust_data()

In [ ]:
data

      1.0ug/m3  2.5ug/m3
0           21        29
1           21        30
2           21        30
3           22        32
4           22        32
...        ...       ...
3327        25        37
3328        25        36
3329        26        37
3330        26        38
3331        26        38

[3332 rows x 2 columns]

# 공공데이터 받기

In [21]:
import urllib
from urllib.parse import urlencode, quote_plus
from urllib.request import urlopen
import requests

#-*- coding:utf-8 -*-
url = 'http://apis.data.go.kr/1360000/LivingWthrIdxService/getSenTaIdx'
queryParams = '?' + urlencode({ quote_plus('ServiceKey') : "%2F4q2SO42zRH5Uuou9aiN7l48kj3nt4qclpB5I0nFaB4%2FvuwRVDOEq3lHu267Otv2o0oSq8hAgYg9%2B%2BWLRJri8A%3D%3D", quote_plus('ServiceKey') : '-', quote_plus('pageNo') : '1', quote_plus('numOfRows') : '10', quote_plus('dataType') : 'XML', quote_plus('areaNo') : '1100000000', quote_plus('time') : '2020062506', quote_plus('requestCode') : 'A41' })

request = requests.get(url + queryParams)
# response = urlopen(request)
print(request.text)

<OpenAPI_ServiceResponse>
	<cmmMsgHeader>
		<errMsg>SERVICE ERROR</errMsg>
		<returnAuthMsg>SERVICE_KEY_IS_NOT_REGISTERED_ERROR</returnAuthMsg>
		<returnReasonCode>30</returnReasonCode>
	</cmmMsgHeader>
</OpenAPI_ServiceResponse>

In [ ]:
|