<a href="https://colab.research.google.com/github/YMGYM/google_colab_files/blob/master/MELD_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# MELD Dataset

This file is for open and analize the dataset
[MELD](https://github.com/declare-lab/MELD)

In [0]:
import pandas as pd

In [0]:
csv_read = pd.read_csv('https://raw.githubusercontent.com/declare-lab/MELD/master/data/MELD/train_sent_emo.csv')

In [4]:
# 헐 되네
csv_read

      Sr No.  ...       EndTime
0          1  ...  00:16:21,731
1          2  ...  00:16:23,442
2          3  ...  00:16:26,389
3          4  ...  00:16:29,572
4          5  ...  00:16:40,917
...      ...  ...           ...
9984   10474  ...  00:00:50,799
9985   10475  ...  00:00:53,594
9986   10476  ...  00:01:03,520
9987   10477  ...  00:01:07,274
9988   10478  ...  00:01:12,071

[9989 rows x 11 columns]

In [0]:
import tensorflow as tf
import tensorflow.keras as K

In [6]:
csv_read.shape

(9989, 11)

In [8]:
len(csv_read)

9989

# 공식 피클 데이터

In [0]:
import pickle
# 데이터파일
data, W, vocab, word_idx_map, max_sentence_length, label_index = pickle.load(open('/content/drive/My Drive/Datasets/MELD/features/data_emotion.p', 'rb'))

In [0]:
train_text_CNN_emb, val_text_CNN_emb, test_text_CNN_emb = pickle.load(open('/content/drive/My Drive/Datasets/MELD/features/text_glove_CNN_emotion.pkl', 'rb'))

In [32]:
# CNN 을 사용한 텍스트 임베딩 (h값..)
# dial_utt
train_text_CNN_emb['0_0'].shape

(100,)

In [0]:
DIAL = '1'
UTTER = '1'
STATUS = 'train'

In [84]:
train_text_CNN_emb[DIAL + '_' + UTTER].shape

(100,)

In [60]:
 df = pd.DataFrame(data)
 df

             y dialog  ... num_words  split
0      neutral      0  ...        19  train
1      neutral      0  ...         7  train
2      neutral      0  ...         6  train
3      neutral      0  ...        10  train
4      neutral      0  ...        17  train
...        ...    ...  ...       ...    ...
13703    anger    279  ...         6   test
13704    anger    279  ...         7   test
13705    anger    279  ...         3   test
13706    anger    279  ...        29   test
13707    anger    279  ...        24   test

[13708 rows x 6 columns]

In [68]:
# train 데이터만 골라내자
# https://hogni.tistory.com/9 참고
is_train = (df['split'] == 'train')
train_dataset = df[is_train]
train_dataset

             y dialog  ... num_words  split
0      neutral      0  ...        19  train
1      neutral      0  ...         7  train
2      neutral      0  ...         6  train
3      neutral      0  ...        10  train
4      neutral      0  ...        17  train
...        ...    ...  ...       ...    ...
13205    anger   1035  ...        12  train
13206    anger   1035  ...         9  train
13207    anger   1035  ...        23  train
13208    anger   1036  ...         3  train
13209    anger   1036  ...         2  train

[9989 rows x 6 columns]

In [69]:
len(train_dataset)

9989

In [85]:
# 조건이 여러 개인 경우 테스트
dial, utter = '0', '0'
condition1 = df['dialog'] == dial
condition2 = df['utterance'] == utter
result_table = df[condition1 & condition2]
result_table

             y dialog  ... num_words  split
0      neutral      0  ...        19  train
7791  surprise      0  ...        13   test
9114   sadness      0  ...        13    val

[3 rows x 6 columns]

# Tensorflow Generator