<a href="https://colab.research.google.com/github/YMGYM/google_colab_files/blob/master/multivariable_lstm_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro
this is my practice of [this](https://qwerty1434.github.io/%EB%8B%A4%EC%A4%91%EB%B3%80%EC%88%98%EC%9D%98-%ED%83%80%EC%9E%84%EC%8B%9C%EB%A6%AC%EC%A6%88-LSTM%EC%97%B0%EC%8A%B5)

In [2]:
import pandas as pd
import numpy as np
from pandas import read_csv
from datetime import datetime
from pandas import DataFrame
from sklearn import preprocessing
from sklearn.metrics import mean_squared_error
from matplotlib import pyplot

In [38]:
def parse(x):
  return datetime.strptime(x, '%Y %m %d %H')
dataset = read_csv('/content/drive/My Drive/Datasets/multivariable_timeseries.csv', parse_dates = [['year', 'month', 'day', 'hour']], index_col=0, date_parser=parse)

Number 컬럼 삭제

In [39]:
dataset.drop('No', axis=1, inplace=True)

column 이름 재정의

In [40]:
dataset.columns = ['pollution', 'dew', 'temp', 'press', 'wnd_dir', 'wnd_spd', 'snow', 'rain']

In [41]:
dataset.index.name = 'date'

In [42]:
striped_dataset = dataset[24:]

In [43]:
striped_dataset

                     pollution  dew  temp   press wnd_dir  wnd_spd  snow  rain
date
2010-01-02 00:00:00      129.0  -16  -4.0  1020.0      SE     1.79     0     0
2010-01-02 01:00:00      148.0  -15  -4.0  1020.0      SE     2.68     0     0
2010-01-02 02:00:00      159.0  -11  -5.0  1021.0      SE     3.57     0     0
2010-01-02 03:00:00      181.0   -7  -5.0  1022.0      SE     5.36     1     0
2010-01-02 04:00:00      138.0   -7  -5.0  1022.0      SE     6.25     2     0
...                        ...  ...   ...     ...     ...      ...   ...   ...
2014-12-31 19:00:00        8.0  -23  -2.0  1034.0      NW   231.97     0     0
2014-12-31 20:00:00       10.0  -22  -3.0  1034.0      NW   237.78     0     0
2014-12-31 21:00:00       10.0  -22  -3.0  1034.0      NW   242.70     0     0
2014-12-31 22:00:00        8.0  -22  -4.0  1034.0      NW   246.72     0     0
2014-12-31 23:00:00       12.0  -21  -3.0  1034.0      NW   249.85     0     0

[43800 rows x 8 columns]

빈 칸을 0으로 채운다

In [44]:
# Fill NA/NaN values using the specified method.
striped_dataset['pollution'].fillna(0, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [45]:
striped_dataset.to_csv('pollution.csv')

# data scaling

In [58]:
dataset = read_csv('pollution.csv')
values = dataset.values

In [59]:
values

array([['2010-01-02 00:00:00', 129.0, -16, ..., 1.79, 0, 0],
       ['2010-01-02 01:00:00', 148.0, -15, ..., 2.68, 0, 0],
       ['2010-01-02 02:00:00', 159.0, -11, ..., 3.57, 0, 0],
       ...,
       ['2014-12-31 21:00:00', 10.0, -22, ..., 242.7, 0, 0],
       ['2014-12-31 22:00:00', 8.0, -22, ..., 246.72, 0, 0],
       ['2014-12-31 23:00:00', 12.0, -21, ..., 249.85, 0, 0]],
      dtype=object)

In [60]:
encoder = preprocessing.LabelEncoder()
values[:,4] = encoder.fit_transform(values[:,4]) # wind_dir 변수를 숫자로 인코딩함

In [61]:
values

array([['2010-01-02 00:00:00', 129.0, -16, ..., 1.79, 0, 0],
       ['2010-01-02 01:00:00', 148.0, -15, ..., 2.68, 0, 0],
       ['2010-01-02 02:00:00', 159.0, -11, ..., 3.57, 0, 0],
       ...,
       ['2014-12-31 21:00:00', 10.0, -22, ..., 242.7, 0, 0],
       ['2014-12-31 22:00:00', 8.0, -22, ..., 246.72, 0, 0],
       ['2014-12-31 23:00:00', 12.0, -21, ..., 249.85, 0, 0]],
      dtype=object)

In [62]:
values = values.astype('float32')

ValueError: ignored